.DS_Store
node_modules
package-lock.json

server/.vs
server/packages
server/webviewer-annotations-asp-net-sample/*.xfdf
server/webviewer-annotations-asp-net-sample/obj
server/webviewer-annotations-asp-net-sample/bin
server/webviewer-annotations-asp-net-sample/Scripts/webviewer/license-key.js
server/webviewer-annotations-asp-net-sample/Scripts/webviewer/lib